@import url('https://fonts.googleapis.com/css?family=Cookie');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.main-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(./IMG/headerImgSun.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.main-header__title {
    font-family: 'Cookie', cursive;
    font-size: 60px;
    padding-top: 250px;
    color: #f5f5f5;
}

.main-header__subtitle {
    padding-bottom: 50px;
    font-family: 'Cookie', cursive;
    font-size: 30px;
    color: #f5f5f5;
}

.main-button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background: #f6793d;
    border-radius: 10px;
    font-family: 'Cookie', cursive;
    font-size: 20px;
    color: #000000;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 30px;
}

.main-nav__item--link {
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Cookie', cursive;
    font-size: 30px;
    color: #f5f5f5;

}

.main-nav__item--icon {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    height: 30px;
    
}

.main-section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main-section--grey {
    background: #f0f0f0;
}

.main-section__article {
    display: flex;
    flex-flow: row;
}

.main-article__content {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-article__content--left {
    align-items: flex-start;
}

.main-article__content--right {
    align-items: flex-end;
}

.main-article__picture {
    flex: 1;
    position: relative;
    overflow: hidden;    
}

.main-article__title {
    padding-bottom: 24px;
    font-family: 'Cookie', cursive;
    font-size: 30px;
    color: #1d0707;
}

.main-article__paragraph {
    padding-bottom: 44px;
    line-height: 1.75;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d0707;
}

.main-article__img {
    position: absolute;
}

.main-article__img--right {
    width: 640px;
    bottom: -220px;
    left: 20px;
}

.main-article__img--left {
    width: 320px;
    top: 20px;
    right: 220px;
}

.gallery {
    display: flex;
    flex-flow: row;
    padding: 44px 0;
}

.gallery__item--logo {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 22px;
}

.gallery__item--icon {
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
}

.gallery__item--title {
    font-family: 'Cookie', cursive;
    font-size: 20px;
    color: #1d0707
}

.gallery__item--paragraph {
    padding-top: 15px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d0707;
}

.gallery__item {
    width: 320px;
    height: 234px;
    padding: 0 22px;
}

.main-section__subscribe {
    height: 640px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: url('IMG/subscribeBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main-subscribe__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.main-form__label {

}

.email__input {
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
}

.email__submit {
    border: none;
    background: none;
    cursor: pointer;
}

